.modalcha{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 10.6%;
   padding-top: 4.6vh;
}
.modalcha .modolcha-content{
   background-color: pink;
   padding: 10px;
}
.modolcha-content li {
    list-style: none;
    background-color: #fff;
    margin: 5px 0;

}
.modolcha-content li a{
   text-decoration: none;
   color: black;
}