@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.hajj-section {
  display: none;
}
.hajj-section .hero-section {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/images/bg-fon.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.hajj-section .hero-section::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}
.hajj-section .hero-section .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  height: 12vh;
}
.hajj-section .hero-section .navbar .brand img {
  width: 70px;
  height: 70px;
}
.hajj-section .hero-section .navbar .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  list-style: none;
}
.hajj-section .hero-section .navbar .menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.hajj-section .hero-section .navbar .aloqa {
  font-size: 18px;
  border: none;
  color: black;
  padding: 6px 15px;
  border-radius: 18px;
  border: 1px solid white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  list-style: none;
  background: rgb(249, 183, 139);
}
.hajj-section .hero-section .navbar .aloqa:hover {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(249, 183, 139);
}
.hajj-section .hero-section .navbar .menu-bars i {
  display: none;
  cursor: pointer;
}
.hajj-section .hero-section .content-hero-center {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.hajj-section .hero-section .content-hero-center h1 {
  font-size: 60px;
}
.hajj-section .hero-section .content-hero-center h1 span {
  font-size: 65px;
  color: rgb(50, 30, 177);
  font-weight: 900;
}
.hajj-section .hero-section .content-hero-center p {
  font-size: 20px;
  margin: 4vh 0;
}
.hajj-section .hero-section .content-hero-center button {
  border: 1.5px solid white;
  background-color: rgb(249, 183, 139);
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 25px;
  color: BLACK;
  transition: 0.3s ease-in-out;
}
.hajj-section .hero-section .content-hero-center button:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1.5px solid hsl(24deg, 90%, 76%);
}
.hajj-section .makka .container .col-12 {
  text-align: center;
  margin: 4vh 0;
}
.hajj-section .makka .container .col-12 .makka-name {
  font-size: 40px;
  font-weight: bold;
}
.hajj-section .makka .container .col-lg-4 {
  text-align: center;
  margin-top: 5vh;
}
.hajj-section .makka .container .col-lg-4 img {
  width: 100%;
  height: 300px;
}
.hajj-section .makka .container .col-lg-4 h3 {
  margin-top: 2vh;
}
.hajj-section .madina .container .col-12 {
  text-align: center;
  margin: 4vh 0;
}
.hajj-section .madina .container .col-12 .makka-name {
  font-size: 40px;
  font-weight: bold;
}
.hajj-section .madina .container .col-lg-4 {
  text-align: center;
  margin-top: 5vh;
}
.hajj-section .madina .container .col-lg-4 img {
  width: 100%;
  height: 300px;
}
.hajj-section .madina .container .col-lg-4 h3 {
  margin-top: 2vh;
}
.hajj-section .paketlar {
  margin: 4vh 0;
}
.hajj-section .paketlar .paket-name {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.hajj-section .paketlar strong {
  font-size: 20px;
}
.hajj-section .paketlar .col-lg-4 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.hajj-section .paketlar .col-lg-4 .card {
  text-align: center;
  border: 2.5px solid #c9c0b9;
  min-height: 20vh;
  width: 100%;
  background-color: #F8F9FA;
  color: black;
  border-radius: 10px;
}
.hajj-section .paketlar .col-lg-4 .card .card-header {
  border-bottom: 3px solid #c9c0b9;
  padding: 15px;
}
.hajj-section .paketlar .col-lg-4 .card .card-body {
  text-align: left;
  padding: 15px;
}
.hajj-section .paketlar .col-lg-4 .card .card-body span {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: sans-serif;
}
.hajj-section .service .col-12 {
  margin-top: 4vh;
}
.hajj-section .service .col-12 p {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.hajj-section .service .col-lg-4 img {
  width: 100%;
  height: 300px;
}
.hajj-section .footer {
  padding-top: 3vh;
  width: 100%;
  min-height: 40vh;
  background-color: rgb(8, 8, 8);
  color: white;
}
.hajj-section .footer .footer-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.hajj-section .footer .icons {
  margin-top: 20px;
}
.hajj-section .footer .icons a {
  color: white;
}
.hajj-section .footer .icons a:nth-child(1) i:hover {
  color: #229ED9;
}
.hajj-section .footer .icons a:nth-child(2) i:hover {
  color: #C13584;
}
.hajj-section .footer .icons a:nth-child(3) i:hover {
  color: #4267B2;
}
.hajj-section .footer .icons a:nth-child(4) i:hover {
  color: #FF0000;
}
.hajj-section .footer .col-12 .title-column {
  margin-bottom: 10px;
  text-align: center;
}
.hajj-section .footer .col-12 li {
  list-style: none;
  text-align: center;
}
.hajj-section .footer .col-12 li a {
  color: white;
  line-height: 40px;
  text-decoration: none;
  font-size: 18px;
}
.hajj-section .map {
  position: relative;
}
.hajj-section .map .map-card {
  width: 301px;
  padding: 10px;
  position: absolute;
  top: 19vh;
  left: 0.7%;
  background-color: white;
}
.hajj-section .map .map-card p {
  font-size: 16px;
  line-height: 26px;
}
.hajj-section .map .map-card li {
  list-style: none;
  font-size: 16px;
}
.hajj-section .map .map-card li a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.hajj-section .map .map-card li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .hajj-section .hero-section .navbar .menu {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .hajj-section .hero-section {
    overflow: hidden;
  }
  .hajj-section .hero-section .content-hero-center h1 {
    font-size: 30px;
  }
  .hajj-section .hero-section .content-hero-center p {
    font-size: 13px;
  }
  .hajj-section .hero-section .content-hero-center button {
    padding: 10px 20px;
    font-size: 16px;
  }
  .hajj-section .hero-section .navbar {
    position: relative;
  }
  .hajj-section .hero-section .navbar .menu {
    transform: translateX(500%);
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 12vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    border-top: 1.5px solid white;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 90vh;
    padding: 3vh 0;
  }
  .hajj-section .hero-section .navbar .menu-bars {
    display: flex;
    align-items: center;
  }
  .hajj-section .hero-section .navbar .menu-bars i {
    display: block;
    margin-left: 20px;
  }
  .hajj-section .hero-section .navbar .menu-active {
    transform: translateX(0);
  }
}
.price {
  font-size: 22px;
  font-weight: 550;
  color: #fb8b24;
}

.fa-solid {
  font-size: 30px;
  color: rgb(24, 49, 24);
}

.tickett {
  width: 50px !important;
  height: 50px !important;
  color: red !important;
  -o-object-fit: contain;
     object-fit: contain;
}

.imgFon {
  border-radius: 15px;
  transition: 1s;
}

.imgFon:hover {
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
}

.NurTogi {
  border-radius: 10px;
  transition: 1s;
}

.NurTogi:hover {
  transform: scale(1.05);
  transition: 1s;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
}

.Madinadigi-ziyoratlar {
  border-radius: 10px;
  transition: 1s;
}

.Madinadigi-ziyoratlar:hover {
  transform: scale(1.05);
  transition: 1s;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
}

.sarlavxa {
  padding-top: 10px;
}

.DivFoter {
  height: 70px;
}

.buttonBatafsil {
  background: linear-gradient(180deg, #8bd5ff 0%, #0072dc 100%);
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  transition: 1s;
}

.buttonBatafsil:hover {
  transform: scale(1.05);
}

#bataf {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#Closed1 {
  margin-left: 700px;
  color: black;
  cursor: pointer;
}

#Closed1:hover {
  color: #F9B78B;
}

.modaldiv {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#bataf2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modaldiv2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#Closed2 {
  margin-left: 700px;
  color: black;
  cursor: pointer;
}

#Closed2:hover {
  color: #F9B78B;
}

#bataf3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modaldiv3 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#Closed3 {
  margin-left: 700px;
  color: black;
  cursor: pointer;
}

#Closed3:hover {
  color: #F9B78B;
}

#bataf4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modaldiv4 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#Closed4 {
  margin-left: 700px;
  color: black;
  cursor: pointer;
}

#Closed4:hover {
  color: #F9B78B;
}

#bataf5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modaldiv5 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#Closed5 {
  margin-left: 700px;
  color: black;
  cursor: pointer;
}

#Closed5:hover {
  color: #F9B78B;
}

.ecoomFon {
  width: 100%;
}/*# sourceMappingURL=style.css.map */