@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.hajj-section {
    display: none;

    .hero-section {
        width: 100%;
        min-height: 100vh;
        background-image: url('../assets/images/bg-fon.jpeg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            width: 100%;
            min-height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .navbar {
           
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 8%;
            color: white;
            background-color: rgba(0, 0, 0, 0.9);
            .brand {
                img {
                    width: 70px;
                    height: 70px;
                    border: 1px solid red;
                }
            }

            .menu {

                display: flex;
                align-items: center;
                justify-content: space-between;
                // background-color: pink;
                width: 60%;
                list-style: none;
                height: 10vh;
                padding-top: 10px;
                li {
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 16px;
                    }
                }
            }

            .aloqa {
                font-size: 18px;
                border: none;
                color: black;
                padding: 6px 15px;
                border-radius: 18px;
                border: 1px solid rgb(249, 183, 139);
                transition: 0.3s ease-in-out;
                cursor: pointer;
                list-style: none;
                background: rgb(249, 183, 139);

                &:hover {
                    background-color: transparent;
                    color: white;
                    border: 1px solid rgb(249, 183, 139);

                }
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            .menu-bars {
                 display: flex;
                 align-items: center;
                 
                 justify-content: space-between;
                //  background-color: pink;
                i {
                    display: none;
                    cursor: pointer;
                }
            }
        }

        .content-hero-center {
            min-height: 50vh;
            display: flex;
            justify-content: center;
            width: 75%;
            margin: auto;
            align-items: center;
            flex-direction: column;
            text-align: center;
            color: white;

            // background: red;
            h1 {

                font-size: 60px;

                span {
                    font-size: 65px;
                    color: rgb(50, 30, 177);
                    font-weight: 900;
                }
            }

            p {
                font-size: 20px;
                margin: 4vh 0;
            }

            button {
                border: 1.5px solid white;
                background-color: rgb(249, 183, 139);
                padding: 10px 25px;
                border-radius: 25px;
                font-size: 25px;
                color: BLACK;
                transition: 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: transparent;
                    color: white;
                    border: 1.5px solid hsl(24, 90%, 76%);

                }
            }
        }
    }

    //    Makka style start
    .makka {
        .container {
            .col-12 {
                text-align: center;
                margin: 4vh 0;

                .makka-name {
                    font-size: 40px;
                    font-weight: bold;
                    @media (max-width:450px) {
                        font-size: 30px;
                    }
                    @media (max-width:222px) {
                        font-size: 15px !important;
                    }

                    @media (max-width:370px) {
                        font-size: 25px;
                    }
                    @media (max-width:290px) {
                        font-size: 18px;
                    }
                }
            }
            .col-6 {
                margin-top: 20px;
                transition: 1.3s;
            }

            .col-6:hover {
                transform: scale(1.1);
                transition: 1.1s;
                cursor: pointer;
            }
            .col-lg-4 {
                text-align: center;
                margin-top: 5vh;

                img {
                    width: 100%;
                    height: 300px;
                    @media (max-width:440px ) {
                                height: 200px;
                    }
                }

             




                h3 {
                    margin-top: 2vh;
                }
            }
        }
    }

    

    .imgFon1 {
        border-radius: 15px;
        // object-fit: cover;
        transition: 1s;
    
    }
    
    
    .imgFon1:hover {
        transform: scale(1.05);
        transition: 1s;
        cursor: pointer;
        box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
    }
    .Madinadigi-ziyoratlarr1 {
        width: 100%;
    }
    
    .Madinadigi-ziyoratlarr {
        border-radius: 7px;
    }

    //  Madina style
    .madina {
        .container {
            .col-12 {
                text-align: center;
                margin: 4vh 0;

                .makka-name {
                    font-size: 40px;
                    font-weight: bold;
                    @media (max-width:450px) {
                        font-size: 30px;
                    }
                    @media (max-width:222px) {
                        font-size: 15px !important;
                    }

                    @media (max-width:370px) {
                        font-size: 25px;
                    }
                      @media (max-width:290px) {
                        font-size: 18px;
                    }
                }
            }

            .col-lg-4 {
                text-align: center;
                margin-top: 5vh;

                img {
                    width: 100%;
                    height: 300px;
                    @media (max-width:440px) {
                        height: 200px;
                    }
                }

                h3 {
                    margin-top: 2vh;
                }
            }
        }
    }

    // Paketlar style
    .paketlar {
        margin: 4vh 0;

        .paket-name {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            @media (max-width:450px) {
                font-size: 32px;
            }

            @media (max-width:370px) {
                font-size: 25px;
            }
        }

        strong {
            font-size: 20px;
        }

        .col-lg-4 {
            margin-top: 2vh;
            margin-bottom: 2vh;

            .card {
                text-align: center;
                border: 2.5px solid #c9c0b9;
                min-height: 20vh;
                width: 100%;
                height: auto !important;
                background-color: #F8F9FA;
                color: black;
                border-radius: 10px;

                .card-header {
                    border-bottom: 3px solid #c9c0b9;
                    padding: 15px;

                }

                .card-body {
                    text-align: left;
                    padding: 15px;

                    span {
                        display: block;
                        margin: 10px 0;
                        font-size: 18px;
                        letter-spacing: 1px;
                        font-family: sans-serif;
                    }
                }
            }
        }
    }

    // service style strt
    .service {
        .col-12 {
            margin-top: 4vh;

            p {
                text-align: center;
                font-weight: bold;
                font-size: 40px;
                @media (max-width:450px) {
                    font-size: 30px;
                }

                @media (max-width:370px) {
                    font-size: 25px;
                }
            }
        }

        .col-lg-4 {
            img {
                width: 100%;
                height: 300px;
                // object-fit:fill;
               
            }
        }
    }

    // Footer style start
    .footer {
        padding-top: 3vh;
        width: 100%;
        min-height: 40vh;
        //    margin-top: 10vh;
        background-color: rgb(8, 8, 8);
        color: white;

        .footer-logo {
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
        }

        .icons {
            margin-top: 20px;

            a {
                color: white;

                &:nth-child(1) {
                    i {
                        &:hover {
                            color: #229ED9;
                        }
                    }
                }

                &:nth-child(2) {
                    i {
                        &:hover {
                            color: #C13584;
                        }
                    }
                }

                &:nth-child(3) {
                    i {
                        &:hover {
                            color: #4267B2;
                        }
                    }
                }

                &:nth-child(4) {
                    i {
                        &:hover {
                            color: #FF0000;
                        }
                    }
                }
            }
        }

        .col-12 {
            .title-column {
                margin-bottom: 10px;
                text-align: center;
            }

            li {
                list-style: none;
                text-align: center;

                a {
                    color: white;
                    line-height: 40px;
                    text-decoration: none;
                    font-size: 18px;
                }
            }
        }

    }

    .container {
        .row {
            .col-6 {
                img {
                    object-fit: cover;
                    @media (max-width:440px) {
                        height: 180px;
                        object-fit: cover;
                    }
                }
            }
        }
    }


    // map style start
    .map {
        position: relative;

        .manzil {
            position: fixed;
            bottom: 30px;
            left: 30px;
            padding: 10px 15px;
            background-color: aqua;
            border-radius: 20px;
            cursor: pointer;
            animation: manzil;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            &:hover{
                transform: translateY(-20px);
            }
        }

        .map-card {
            width: 301px;
            padding: 10px;
            position: fixed;
            bottom: 120px;
            left: 0.7%;
            background-color: white;
            transform: translateX(-150%);
            transition: 0.3s ease-in-out;
             box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
            p {
                font-size: 16px;
                line-height: 26px;
            }

            li {
                list-style: none;
                font-size: 16px;

                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: black;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .menuCardActive{
            transform: translateX(0) !important;
        }
    }

    // map style end
}

@media screen and (max-width: 992px) {
    .hajj-section {
        .hero-section {
            .navbar {
                .menu {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hajj-section {
        .hero-section {
            overflow: hidden;

            .content-hero-center {
                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 13px;
                }

                button {
                    padding: 10px 20px;
                    font-size: 16px;
                }
            }

            .navbar {
                position: relative;

                .menu {
                    transform: translateX(500%);
                    transition: 0.3s ease-in-out;
                    position: absolute;
                    top: 12vh;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.9);
                    width: 50%;
                    border-top: 1.5px solid white;
                    flex-direction: column;
                    justify-content: space-evenly;
                    min-height: 90vh;
                    padding: 3vh 0;

                }

                .menu-bars {
                    display: flex;
                    align-items: center;

                    i {
                        display: block;
                        margin-left: 20px;
                    }
                }

                .menu-active {
                    transform: translateX(0);
                }
            }
        }
    }
}


.price {
    font-size: 22px;
    font-weight: 550;
    color: #fb8b24;
}

.fa-solid {
    font-size: 30px;
    color: rgb(24, 49, 24);

}

.tickett {
    width: 50px !important;
    height: 50px !important;
    color: red !important;
    object-fit: contain;
}

.imgFon {
    border-radius: 15px;

    transition: 1s;

}
.imgFon1 {
    border-radius: 15px;
    // object-fit: cover;
    transition: 1s;

}


.imgFon1:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
}

.imgFon:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
}

.NurTogi {
    border-radius: 10px;
    transition: 1s;

}

.NurTogi:hover {
    transform: scale(1.05);

    transition: 1s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);

}


.Madinadigi-ziyoratlar {
    border-radius: 10px;
    transition: 1s;
}

.Madinadigi-ziyoratlar:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);

}

.sarlavxa {
    padding-top: 10px;
}

.DivFoter {
    height: 70px;
    border: 5px silid green;
}

.buttonBatafsil {
    background: linear-gradient(180deg, #8bd5ff 0%, #0072dc 100%);
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    transition: 1s;
}

.buttonBatafsil:hover {

    transform: scale(1.05);
}

#bataf {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#Closed1 {
    // margin-left: 700px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    padding-top: 25px;

}

#Closed1:hover {
    color: #F9B78B;
}


.modaldiv {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    p {
        font-size: 18px;
    }
}

// 2 chi modal

#bataf2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    p {
        font-size: 20px;
    }
}


.modaldiv2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;

    border: 1px solid #888;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


#Closed2 {
    // margin-left: 700px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    padding-top: 25px;
}

#Closed2:hover {
    color: #F9B78B;
}


// 3chi modal


#bataf3 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    p {
        font-size: 20px;
    }
}


.modaldiv3 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;

    border: 1px solid #888;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


#Closed3 {
    // margin-left: 700px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    padding-top: 25px;
}

#Closed3:hover {
    color: #F9B78B;
}

// 4chi modal

#bataf4 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);

    /* Black w/ opacity */
    p {
        font-size: 20px;
    }
}


.modaldiv4 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;

    border: 1px solid #888;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


#Closed4 {
    // margin-left: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    color: black;
    cursor: pointer;
    padding-top: 25px;
}

#Closed4:hover {
    color: #F9B78B;
}


// 5chi modal 

// 

#bataf5 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    p {
        font-size: 20px;
    }
}


.modaldiv5 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;

    border: 1px solid #888;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


#Closed5 {
    // margin-left: 700px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px !important;
    align-items: flex-end;
    padding: 20px;
}

#Closed5:hover {
    color: #F9B78B;
}


.ecoomFon {
    width: 100% !important;
    // border-radius: 10px;
}



#modalBiznig1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modalBiznig1 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.cardimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.buttonBatafsil1 {
    background: linear-gradient(180deg, #8bd5ff 0%, #0072dc 100%);
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    transition: 1s;
}


.buttonBatafsil1:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#YopishModal1 {
    padding-top: 10px;
    position: absolute;
    right: 0;
    padding-right: 20px;

}

#YopishModal1:hover {
    color: #fb8b24;
    cursor: pointer;
}

.quronmatnn {
    text-align: center;
    padding-top: 20px;
}

.quronimatn {
    font-size: 20px !important;
}

.Madinadigi-ziyoratlarr {
    margin-top: 20px;
}

.Madinadigi-ziyoratlarr1 {
    width: 100%;
}

.Madinadigi-ziyoratlarr {
    border-radius: 7px;
    transition: 1.1s;
}
.col-sm-6 {
    padding-top: 20px;
}

.Madinadigi-ziyoratlarr:hover {
    transform: scale(1.04);
    transition: 1.1s;
    cursor: pointer;
}

.modalCard1 {
    padding-top: 40px;

}

.bold {
    font-weight: 600;
    font-size: 18px;
}

.Madinadigi-ziyoratlarrH {
    transition: 1.1s;
    margin-top: 20px;
    border-radius: 10px;
}
.Madinadigi-ziyoratlarrH:hover {
    transform: scale(1.04);
    cursor: pointer;
}

#modalBiznig2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modalBiznig2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#YopishModal2 {
    padding-top: 10px;
    position: absolute;
    right: 0;
    padding-right: 5px;
}

.mexmonsize {
    font-size: 14px !important;
    padding-top: 5px;
}

.modalCard2 {
    padding-top: 40px;

}

#modalBiznig3 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


#modalBiznig11 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig11{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal11 {

    position: absolute;
    right: 0;
    padding-right: 30px;
    padding-top: 10px;

}


.modalCard11 {
    padding-top: 40px;
    display: flex;

}

#YopishModal11:hover {
    color: #F9B78B;
    cursor: pointer;
}


#modalBiznig22 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig22{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal22 {
    padding-right: 30px;
    padding-top: 10px;
    position: absolute;
    right: 0;

}


.modalCard22 {
    padding-top: 40px;

}

#YopishModal22:hover {
    color: #F9B78B;
    cursor: pointer;
}


#modalBiznig33 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig33{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal33 {
    position: absolute;
    right: 0;
    padding-top: 10px;
    padding-right: 30px;

}


.modalCard33 {
    padding-top: 40px;

}

#YopishModal33:hover {
    color: #F9B78B;
    cursor: pointer;
}

#modalBiznig44 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig44{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal44 {
    position: absolute;
    right: 0;
    padding-right: 30px;

}


.modalCard44 {
    padding-top: 40px;

}

#YopishModal44:hover {
    color: #F9B78B;
    cursor: pointer;
}

#modalBiznig55 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig55{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 50%;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal55 {
    position: absolute;
    right: 0;
    padding-right: 30px;
}

#YopishModal55:hover {
    color: #F9B78B;
    cursor: pointer;
}


.modalCard55 {
    padding-top: 40px;

}

.matnsiz18 {
    font-size: 18px !important;
    padding-top: 15px;
}

.modalBiznig3 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#YopishModal3 {
    padding-top: 10px;
    position: absolute;
    right: 0;
    padding-right: 5px;
}

#modalBiznig4 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.modalBiznig4 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#YopishModal4 {
    padding-top: 20px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
#YopishModal4:hover {
    cursor: pointer;
    color: #fb8b24;
}

.modalCard4 {
    padding-top: 40px;

}


#modalBiznig5 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.modalBiznig5 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal5 {
    padding-top: 10px;
    position: absolute;
    right: 0;
    padding-right: 20px;
}
#YopishModal5:hover {
    color: #fb8b24;
    cursor: pointer;
}


.modalCard5 {
    padding-top: 40px;

}


#modalBiznig6 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.modalBiznig6 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal6 {
    padding-top: 15px;
    position: absolute;
    right: 0;
    padding-right: 15px;
}

#YopishModal6:hover {
    color: #F9B78B;
    cursor: pointer;
}


.modalCard6 {
    padding-top: 40px;

}

@keyframes manzil {
     0% {
        transform: translateY(0);
    }
    50%{
       transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
#modalBiznig11 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig11{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: 100 auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal11 {

    position: absolute;
    right: 0;
    padding-right: 30px;
    padding-top: 10px;

}


.modalCard11 {
    padding-top: 40px;
    display: flex;

}

#YopishModal11:hover {
    color: #F9B78B;
    cursor: pointer;
}


#modalBiznig22 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig22{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal2 {
    padding-top: 10px;
    position: absolute;
    padding-right: 30px;
}

#YopishModal2:hover {
    color: #fb8b24;
    cursor: pointer;
}


.modalCard22 {
    padding-top: 40px;

}

#YopishModal22:hover {
    color: #F9B78B;
    cursor: pointer;
}


#modalBiznig33 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig33{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal3 {
    position: absolute;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;

}

#YopishModal3:hover{
    cursor: pointer;
    color: #F9B78B;
}


.modalCard33 {
    padding-top: 40px;

}

#YopishModal33:hover {
    color: #F9B78B;
    cursor: pointer;
}

#modalBiznig44 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig44{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal44 {
    position: absolute;
    right: 0;
    padding-right: 30px;
    padding-top: 10px;
}


.modalCard44 {
    padding-top: 40px;

}

#YopishModal44:hover {
    color: #F9B78B;
    cursor: pointer;
}

#modalBiznig55 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalBiznig55{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 2%;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#YopishModal55 {
    position: absolute;
    right: 0;
    padding-right: 30px;
    padding-top: 10px;
}

#YopishModal55:hover {
    color: #F9B78B;
    cursor: pointer;
}


.modalCard55 {
    padding-top: 40px;

}

.matnsiz18 {
    font-size: 18px;
    padding-top: 15px;
}

.row-col-6 {
}

// select uz ru en


.form-select {
    width: 90px;
    height: 40px;
    font-size: 15px;
    padding-right: 10px;
    cursor: pointer;
    transition: 1s;
    border-radius: 15px;
    font-weight: 600;

    option {
        font-size: 15px;
        cursor: pointer;
        transition: 1.1s;
    }
}


.Options {
    display: flex;
    font-size: 20px;
    gap: 20px;
    a {
    text-decoration: none;
    color: white ;
    }
    .translet-active{
        background-color:rgb(249, 183, 139);
        padding: 3px;
        color: black ;
        border-radius: 3px;
    }
}