@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.hajj-section {
  display: none;
}

.hajj-section .hero-section {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/images/bg-fon.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hajj-section .hero-section::before {
  content: '';
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.hajj-section .hero-section .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 8%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  height: 12vh;
}

.hajj-section .hero-section .navbar .brand img {
  width: 70px;
  height: 70px;
}

.hajj-section .hero-section .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  list-style: none;
}

.hajj-section .hero-section .navbar .menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.hajj-section .hero-section .navbar .aloqa {
  font-size: 18px;
  border: none;
  color: black;
  padding: 6px 15px;
  border-radius: 18px;
  border: 1px solid #f9b78b;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  list-style: none;
  background: #f9b78b;
}

.hajj-section .hero-section .navbar .aloqa:hover {
  background-color: transparent;
  color: white;
  border: 1px solid #f9b78b;
}

.hajj-section .hero-section .navbar .menu-bars i {
  display: none;
  cursor: pointer;
}

.hajj-section .hero-section .content-hero-center {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
}

.hajj-section .hero-section .content-hero-center h1 {
  font-size: 60px;
}

.hajj-section .hero-section .content-hero-center h1 span {
  font-size: 65px;
  color: #321eb1;
  font-weight: 900;
}

.hajj-section .hero-section .content-hero-center p {
  font-size: 20px;
  margin: 4vh 0;
}

.hajj-section .hero-section .content-hero-center button {
  border: 1.5px solid white;
  background-color: #f9b78b;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 25px;
  color: BLACK;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hajj-section .hero-section .content-hero-center button:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1.5px solid #f9b78b;
}

.hajj-section .makka .container .col-12 {
  text-align: center;
  margin: 4vh 0;
}

.hajj-section .makka .container .col-12 .makka-name {
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 450px) {
  .hajj-section .makka .container .col-12 .makka-name {
    font-size: 30px;
  }
}

@media (max-width: 222px) {
  .hajj-section .makka .container .col-12 .makka-name {
    font-size: 15px !important;
  }
}

@media (max-width: 370px) {
  .hajj-section .makka .container .col-12 .makka-name {
    font-size: 25px;
  }
}

@media (max-width: 290px) {
  .hajj-section .makka .container .col-12 .makka-name {
    font-size: 18px;
  }
}

.hajj-section .makka .container .col-6 {
  margin-top: 20px;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}

.hajj-section .makka .container .col-6:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1.1s;
  transition: 1.1s;
  cursor: pointer;
}

.hajj-section .makka .container .col-lg-4 {
  text-align: center;
  margin-top: 5vh;
}

.hajj-section .makka .container .col-lg-4 img {
  width: 100%;
  height: 300px;
}

@media (max-width: 440px) {
  .hajj-section .makka .container .col-lg-4 img {
    height: 200px;
  }
}

.hajj-section .makka .container .col-lg-4 h3 {
  margin-top: 2vh;
}

.hajj-section .imgFon1 {
  border-radius: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.hajj-section .imgFon1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 1px #553333;
          box-shadow: 0px 0px 0px 1px #553333;
}

.hajj-section .Madinadigi-ziyoratlarr1 {
  width: 100%;
}

.hajj-section .Madinadigi-ziyoratlarr {
  border-radius: 7px;
}

.hajj-section .madina .container .col-12 {
  text-align: center;
  margin: 4vh 0;
}

.hajj-section .madina .container .col-12 .makka-name {
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 450px) {
  .hajj-section .madina .container .col-12 .makka-name {
    font-size: 30px;
  }
}

@media (max-width: 222px) {
  .hajj-section .madina .container .col-12 .makka-name {
    font-size: 15px !important;
  }
}

@media (max-width: 370px) {
  .hajj-section .madina .container .col-12 .makka-name {
    font-size: 25px;
  }
}

@media (max-width: 290px) {
  .hajj-section .madina .container .col-12 .makka-name {
    font-size: 18px;
  }
}

.hajj-section .madina .container .col-lg-4 {
  text-align: center;
  margin-top: 5vh;
}

.hajj-section .madina .container .col-lg-4 img {
  width: 100%;
  height: 300px;
}

@media (max-width: 440px) {
  .hajj-section .madina .container .col-lg-4 img {
    height: 200px;
  }
}

.hajj-section .madina .container .col-lg-4 h3 {
  margin-top: 2vh;
}

.hajj-section .paketlar {
  margin: 4vh 0;
}

.hajj-section .paketlar .paket-name {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 450px) {
  .hajj-section .paketlar .paket-name {
    font-size: 32px;
  }
}

@media (max-width: 370px) {
  .hajj-section .paketlar .paket-name {
    font-size: 25px;
  }
}

.hajj-section .paketlar strong {
  font-size: 20px;
}

.hajj-section .paketlar .col-lg-4 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.hajj-section .paketlar .col-lg-4 .card {
  text-align: center;
  border: 2.5px solid #c9c0b9;
  min-height: 20vh;
  width: 100%;
  height: auto !important;
  background-color: #F8F9FA;
  color: black;
  border-radius: 10px;
}

.hajj-section .paketlar .col-lg-4 .card .card-header {
  border-bottom: 3px solid #c9c0b9;
  padding: 15px;
}

.hajj-section .paketlar .col-lg-4 .card .card-body {
  text-align: left;
  padding: 15px;
}

.hajj-section .paketlar .col-lg-4 .card .card-body span {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.hajj-section .service .col-12 {
  margin-top: 4vh;
}

.hajj-section .service .col-12 p {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

@media (max-width: 450px) {
  .hajj-section .service .col-12 p {
    font-size: 30px;
  }
}

@media (max-width: 370px) {
  .hajj-section .service .col-12 p {
    font-size: 25px;
  }
}

.hajj-section .service .col-lg-4 img {
  width: 100%;
  height: 300px;
}

.hajj-section .footer {
  padding-top: 3vh;
  width: 100%;
  min-height: 40vh;
  background-color: #080808;
  color: white;
}

.hajj-section .footer .footer-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.hajj-section .footer .icons {
  margin-top: 20px;
}

.hajj-section .footer .icons a {
  color: white;
}

.hajj-section .footer .icons a:nth-child(1) i:hover {
  color: #229ED9;
}

.hajj-section .footer .icons a:nth-child(2) i:hover {
  color: #C13584;
}

.hajj-section .footer .icons a:nth-child(3) i:hover {
  color: #4267B2;
}

.hajj-section .footer .icons a:nth-child(4) i:hover {
  color: #FF0000;
}

.hajj-section .footer .col-12 .title-column {
  margin-bottom: 10px;
  text-align: center;
}

.hajj-section .footer .col-12 li {
  list-style: none;
  text-align: center;
}

.hajj-section .footer .col-12 li a {
  color: white;
  line-height: 40px;
  text-decoration: none;
  font-size: 18px;
}

.hajj-section .container .row .col-6 img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 440px) {
  .hajj-section .container .row .col-6 img {
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.hajj-section .map {
  position: relative;
}

.hajj-section .map .manzil {
  position: fixed;
  bottom: 30px;
  left: 30px;
  padding: 10px 15px;
  background-color: aqua;
  border-radius: 20px;
  cursor: pointer;
  -webkit-animation: manzil;
          animation: manzil;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.hajj-section .map .manzil:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.hajj-section .map .map-card {
  width: 301px;
  padding: 10px;
  position: fixed;
  bottom: 120px;
  left: 0.7%;
  background-color: white;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
}

.hajj-section .map .map-card p {
  font-size: 16px;
  line-height: 26px;
}

.hajj-section .map .map-card li {
  list-style: none;
  font-size: 16px;
}

.hajj-section .map .map-card li a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.hajj-section .map .map-card li a:hover {
  text-decoration: underline;
}

.hajj-section .map .menuCardActive {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

@media screen and (max-width: 992px) {
  .hajj-section .hero-section .navbar .menu {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .hajj-section .hero-section {
    overflow: hidden;
  }
  .hajj-section .hero-section .content-hero-center h1 {
    font-size: 30px;
  }
  .hajj-section .hero-section .content-hero-center p {
    font-size: 13px;
  }
  .hajj-section .hero-section .content-hero-center button {
    padding: 10px 20px;
    font-size: 16px;
  }
  .hajj-section .hero-section .navbar {
    position: relative;
  }
  .hajj-section .hero-section .navbar .menu {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 12vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    border-top: 1.5px solid white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    min-height: 90vh;
    padding: 3vh 0;
  }
  .hajj-section .hero-section .navbar .menu-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hajj-section .hero-section .navbar .menu-bars i {
    display: block;
    margin-left: 20px;
  }
  .hajj-section .hero-section .navbar .menu-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.price {
  font-size: 22px;
  font-weight: 550;
  color: #fb8b24;
}

.fa-solid {
  font-size: 30px;
  color: #183118;
}

.tickett {
  width: 50px !important;
  height: 50px !important;
  color: red !important;
  -o-object-fit: contain;
     object-fit: contain;
}

.imgFon {
  border-radius: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.imgFon1 {
  border-radius: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.imgFon1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 1px #553333;
          box-shadow: 0px 0px 0px 1px #553333;
}

.imgFon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 1px #553333;
          box-shadow: 0px 0px 0px 1px #553333;
}

.NurTogi {
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.NurTogi:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 1px #553333;
          box-shadow: 0px 0px 0px 1px #553333;
}

.Madinadigi-ziyoratlar {
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.Madinadigi-ziyoratlar:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 1px #553333;
          box-shadow: 0px 0px 0px 1px #553333;
}

.sarlavxa {
  padding-top: 10px;
}

.DivFoter {
  height: 70px;
  border: 5px silid green;
}

.buttonBatafsil {
  background: -webkit-gradient(linear, left top, left bottom, from(#8bd5ff), to(#0072dc));
  background: linear-gradient(180deg, #8bd5ff 0%, #0072dc 100%);
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.buttonBatafsil:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#bataf {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#Closed1 {
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  padding-top: 25px;
}

#Closed1:hover {
  color: #F9B78B;
}

.modaldiv {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modaldiv p {
  font-size: 18px;
}

#bataf2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#bataf2 p {
  font-size: 20px;
}

.modaldiv2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#Closed2 {
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  padding-top: 25px;
}

#Closed2:hover {
  color: #F9B78B;
}

#bataf3 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#bataf3 p {
  font-size: 20px;
}

.modaldiv3 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#Closed3 {
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  padding-top: 25px;
}

#Closed3:hover {
  color: #F9B78B;
}

#bataf4 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#bataf4 p {
  font-size: 20px;
}

.modaldiv4 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#Closed4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  color: black;
  cursor: pointer;
  padding-top: 25px;
}

#Closed4:hover {
  color: #F9B78B;
}

#bataf5 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#bataf5 p {
  font-size: 20px;
}

.modaldiv5 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#Closed5 {
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px !important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
}

#Closed5:hover {
  color: #F9B78B;
}

.ecoomFon {
  width: 100% !important;
}

#modalBiznig1 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig1 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.cardimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.buttonBatafsil1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#8bd5ff), to(#0072dc));
  background: linear-gradient(180deg, #8bd5ff 0%, #0072dc 100%);
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.buttonBatafsil1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

#YopishModal1 {
  padding-top: 10px;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

#YopishModal1:hover {
  color: #fb8b24;
  cursor: pointer;
}

.quronmatnn {
  text-align: center;
  padding-top: 20px;
}

.quronimatn {
  font-size: 20px !important;
}

.Madinadigi-ziyoratlarr {
  margin-top: 20px;
}

.Madinadigi-ziyoratlarr1 {
  width: 100%;
}

.Madinadigi-ziyoratlarr {
  border-radius: 7px;
  -webkit-transition: 1.1s;
  transition: 1.1s;
}

.col-sm-6 {
  padding-top: 20px;
}

.Madinadigi-ziyoratlarr:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: 1.1s;
  transition: 1.1s;
  cursor: pointer;
}

.modalCard1 {
  padding-top: 40px;
}

.bold {
  font-weight: 600;
  font-size: 18px;
}

.Madinadigi-ziyoratlarrH {
  -webkit-transition: 1.1s;
  transition: 1.1s;
  margin-top: 20px;
  border-radius: 10px;
}

.Madinadigi-ziyoratlarrH:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
}

#modalBiznig2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal2 {
  padding-top: 10px;
  position: absolute;
  right: 0;
  padding-right: 5px;
}

.mexmonsize {
  font-size: 14px !important;
  padding-top: 5px;
}

.modalCard2 {
  padding-top: 40px;
}

#modalBiznig3 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#modalBiznig11 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig11 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal11 {
  position: absolute;
  right: 0;
  padding-right: 30px;
  padding-top: 10px;
}

.modalCard11 {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#YopishModal11:hover {
  color: #F9B78B;
  cursor: pointer;
}

#modalBiznig22 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig22 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal22 {
  padding-right: 30px;
  padding-top: 10px;
  position: absolute;
  right: 0;
}

.modalCard22 {
  padding-top: 40px;
}

#YopishModal22:hover {
  color: #F9B78B;
  cursor: pointer;
}

#modalBiznig33 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig33 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal33 {
  position: absolute;
  right: 0;
  padding-top: 10px;
  padding-right: 30px;
}

.modalCard33 {
  padding-top: 40px;
}

#YopishModal33:hover {
  color: #F9B78B;
  cursor: pointer;
}

#modalBiznig44 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig44 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal44 {
  position: absolute;
  right: 0;
  padding-right: 30px;
}

.modalCard44 {
  padding-top: 40px;
}

#YopishModal44:hover {
  color: #F9B78B;
  cursor: pointer;
}

#modalBiznig55 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig55 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 50%;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal55 {
  position: absolute;
  right: 0;
  padding-right: 30px;
}

#YopishModal55:hover {
  color: #F9B78B;
  cursor: pointer;
}

.modalCard55 {
  padding-top: 40px;
}

.matnsiz18 {
  font-size: 18px !important;
  padding-top: 15px;
}

.modalBiznig3 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal3 {
  padding-top: 10px;
  position: absolute;
  right: 0;
  padding-right: 5px;
}

#modalBiznig4 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig4 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal4 {
  padding-top: 20px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

#YopishModal4:hover {
  cursor: pointer;
  color: #fb8b24;
}

.modalCard4 {
  padding-top: 40px;
}

#modalBiznig5 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig5 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal5 {
  padding-top: 10px;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

#YopishModal5:hover {
  color: #fb8b24;
  cursor: pointer;
}

.modalCard5 {
  padding-top: 40px;
}

#modalBiznig6 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig6 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal6 {
  padding-top: 15px;
  position: absolute;
  right: 0;
  padding-right: 15px;
}

#YopishModal6:hover {
  color: #F9B78B;
  cursor: pointer;
}

.modalCard6 {
  padding-top: 40px;
}

@-webkit-keyframes manzil {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes manzil {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#modalBiznig11 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig11 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: 100 auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal11 {
  position: absolute;
  right: 0;
  padding-right: 30px;
  padding-top: 10px;
}

.modalCard11 {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#YopishModal11:hover {
  color: #F9B78B;
  cursor: pointer;
}

#modalBiznig22 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig22 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal2 {
  padding-top: 10px;
  position: absolute;
  padding-right: 30px;
}

#YopishModal2:hover {
  color: #fb8b24;
  cursor: pointer;
}

.modalCard22 {
  padding-top: 40px;
}

#YopishModal22:hover {
  color: #F9B78B;
  cursor: pointer;
}

#modalBiznig33 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig33 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal3 {
  position: absolute;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

#YopishModal3:hover {
  cursor: pointer;
  color: #F9B78B;
}

.modalCard33 {
  padding-top: 40px;
}

#YopishModal33:hover {
  color: #F9B78B;
  cursor: pointer;
}

#modalBiznig44 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig44 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal44 {
  position: absolute;
  right: 0;
  padding-right: 30px;
  padding-top: 10px;
}

.modalCard44 {
  padding-top: 40px;
}

#YopishModal44:hover {
  color: #F9B78B;
  cursor: pointer;
}

#modalBiznig55 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalBiznig55 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 2%;
  border: 1px solid #888;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#YopishModal55 {
  position: absolute;
  right: 0;
  padding-right: 30px;
  padding-top: 10px;
}

#YopishModal55:hover {
  color: #F9B78B;
  cursor: pointer;
}

.modalCard55 {
  padding-top: 40px;
}

.matnsiz18 {
  font-size: 18px;
  padding-top: 15px;
}
/*# sourceMappingURL=style.css.map */