@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(212, 212, 212);
}

.hajj-section {
  display: none;
}
.hajj-section .hero-section {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/images/hero img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.hajj-section .hero-section::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}
.hajj-section .hero-section .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  height: 12vh;
}
.hajj-section .hero-section .navbar .brand img {
  width: 70px;
  height: 70px;
}
.hajj-section .hero-section .navbar .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  list-style: none;
}
.hajj-section .hero-section .navbar .menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.hajj-section .hero-section .navbar .aloqa {
  font-size: 18px;
  border: none;
  color: white;
  border: 1px solid white;
  padding: 6px 15px;
  border-radius: 18px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  list-style: none;
}
.hajj-section .hero-section .navbar .aloqa:hover {
  background-color: white;
  color: black;
}
.hajj-section .hero-section .navbar .menu-bars i {
  display: none;
  cursor: pointer;
}
.hajj-section .hero-section .content-hero-center {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.hajj-section .hero-section .content-hero-center h1 {
  font-size: 60px;
}
.hajj-section .hero-section .content-hero-center h1 span {
  font-size: 65px;
  color: rgb(50, 30, 177);
  font-weight: 900;
}
.hajj-section .hero-section .content-hero-center p {
  font-size: 20px;
  margin: 4vh 0;
}
.hajj-section .hero-section .content-hero-center button {
  border: 1.5px solid white;
  background-color: hsl(24deg, 90%, 76%);
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 25px;
  color: BLACK;
  transition: 0.3s ease-in-out;
}
.hajj-section .hero-section .content-hero-center button:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1.5px solid hsl(24deg, 90%, 76%);
}
.hajj-section .makka .container .col-12 {
  text-align: center;
  margin: 4vh 0;
}
.hajj-section .makka .container .col-12 .makka-name {
  font-size: 40px;
  font-weight: bold;
}
.hajj-section .makka .container .col-lg-4 {
  text-align: center;
  margin-top: 5vh;
}
.hajj-section .makka .container .col-lg-4 img {
  width: 100%;
  height: 300px;
}
.hajj-section .makka .container .col-lg-4 h3 {
  margin-top: 2vh;
}
.hajj-section .madina .container .col-12 {
  text-align: center;
  margin: 4vh 0;
}
.hajj-section .madina .container .col-12 .makka-name {
  font-size: 40px;
  font-weight: bold;
}
.hajj-section .madina .container .col-lg-4 {
  text-align: center;
  margin-top: 5vh;
}
.hajj-section .madina .container .col-lg-4 img {
  width: 100%;
  height: 300px;
}
.hajj-section .madina .container .col-lg-4 h3 {
  margin-top: 2vh;
}
.hajj-section .paketlar {
  margin: 4vh 0;
}
.hajj-section .paketlar .paket-name {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.hajj-section .paketlar strong {
  font-size: 20px;
}
.hajj-section .paketlar .col-lg-4 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.hajj-section .paketlar .col-lg-4 .card {
  text-align: center;
  border: 2.5px solid #fb8b24;
  min-height: 20vh;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 10px;
}
.hajj-section .paketlar .col-lg-4 .card .card-header {
  border-bottom: 3px solid #fb8b24;
  padding: 15px;
}
.hajj-section .paketlar .col-lg-4 .card .card-body {
  text-align: left;
  padding: 15px;
}
.hajj-section .paketlar .col-lg-4 .card .card-body span {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: sans-serif;
}
.hajj-section .service .col-12 {
  margin-top: 4vh;
}
.hajj-section .service .col-12 p {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.hajj-section .service .col-lg-4 img {
  width: 100%;
  height: 300px;
}

<<<<<<< HEAD
=======
.hajj-section .footer {
  width: 100%;
  min-height: 40vh;
  margin-top: 10vh;
  background-color: #080808;
}

.hajj-section .footer .footer-logo {
  width: 80px;
  height: 80px;
}

>>>>>>> 081db06482cb66a05212d2fd813cceb9015c2501
@media screen and (max-width: 992px) {
  .hajj-section .hero-section .navbar .menu {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .hajj-section .hero-section {
    overflow: hidden;
  }
  .hajj-section .hero-section .navbar {
    position: relative;
  }
  .hajj-section .hero-section .navbar .menu {
    transform: translateX(500%);
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 12vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    border-top: 1.5px solid white;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    padding: 3vh 0;
  }
  .hajj-section .hero-section .navbar .menu-bars {
    display: flex;
    align-items: center;
  }
  .hajj-section .hero-section .navbar .menu-bars i {
    display: block;
    margin-left: 20px;
  }
  .hajj-section .hero-section .navbar .menu-active {
    transform: translateX(0);
  }
}
.price {
  font-size: 22px;
  font-weight: 550;
  color: #fb8b24;
}

.fa-solid {
  font-size: 30px;
  color: rgb(24, 49, 24);
}

.tickett {
  width: 50px !important;
  height: 50px !important;
  color: red !important;
  -o-object-fit: contain;
     object-fit: contain;
}

.imgFon {
  border-radius: 15px;
  transition: 1s;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 081db06482cb66a05212d2fd813cceb9015c2501

.imgFon:hover {
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
<<<<<<< HEAD
  box-shadow: 0px 0px 0px 3px rgb(85, 51, 51);
}/*# sourceMappingURL=style.css.map */
=======
  box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
}

.NurTogi {
  border-radius: 10px;
  transition: 1s;
}

.NurTogi:hover {
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
}

.Madinadigi-ziyoratlar {
  border-radius: 10px;
  transition: 1s;
}

.Madinadigi-ziyoratlar {
  border-radius: 10px;
  transition: 1s;
}

.Madinadigi-ziyoratlar:hover {
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
}/*# sourceMappingURL=style.css.map */
=======
/*# sourceMappingURL=style.css.map */
>>>>>>> 243b0d48b16269e719497ca5cd07c6cfd7d05f25
>>>>>>> 081db06482cb66a05212d2fd813cceb9015c2501
