* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.hajj-section {
    display: none;

    .hero-section {
        width: 100%;
        min-height: 100vh;
        background-image: url('../assets/images/hero\ img.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            width: 100%;
            min-height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 8%;
            color: white;
            background-color: rgba(0, 0, 0, 0.9);
            height: 12vh;

            .brand {
                img {
                    width: 70px;
                    height: 70px;
                }
            }

            .menu {

                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 70%;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 16px;
                    }

                    &:last-child {
                        font-size: 18px;
                        border: none;
                        color: white;
                        border: 1px solid white;
                        padding: 6px 15px;
                        border-radius: 18px;
                        transition: 0.3s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }

            .menu-bars {
                display: none;

                i {
                    cursor: pointer;
                }
            }
        }

        .content-hero-center {
            min-height: 50vh;
            display: flex;
            justify-content: center;
            width: 75%;
            margin: auto;
            align-items: center;
            flex-direction: column;
            text-align: center;
            color: white;

            // background: red;
            h1 {

                font-size: 60px;

                span {
                    font-size: 65px;
                    color: rgb(50, 30, 177);
                    font-weight: 900;
                }
            }

            p {
                font-size: 20px;
                margin: 4vh 0;
            }

            button {
                border: 1.5px solid white;
                background-color: transparent;
                padding: 10px 25px;
                border-radius: 25px;
                font-size: 25px;
                color: white;
                transition: 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: green;
                    border: 1.5px solid green;

                }
            }
        }
    }

    //    Makka style start
    .makka {
        .container {
            .col-12 {
                text-align: center;
                margin: 4vh 0;

                .makka-name {
                    font-size: 40px;
                    font-weight: bold;
                }
            }

            .col-lg-4 {
                text-align: center;
                margin-top: 5vh;

                img {
                    width: 100%;
                    height: 300px;
                }

                h3 {
                    margin-top: 2vh;
                }
            }
        }
    }

    //  Madina style
    .madina {
        .container {
            .col-12 {
                text-align: center;
                margin: 4vh 0;

                .makka-name {
                    font-size: 40px;
                    font-weight: bold;
                }
            }

            .col-lg-4 {
                text-align: center;
                margin-top: 5vh;

                img {
                    width: 100%;
                    height: 300px;
                }

                h3 {
                    margin-top: 2vh;
                }
            }
        }
    }

    // Paketlar style
    .paketlar {
        margin: 4vh 0;
        .paket-name {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
        }
        strong{
            font-size: 20px;
        }

        .col-lg-4 {
            margin-top: 2vh;
            margin-bottom: 2vh;
            .card {
                text-align: center;
                border: 2.5px solid #fb8b24;
                min-height: 20vh;
                width: 100%;
                background-color: black;
                color: white;
                border-radius: 10px;
                .card-header {
                    border-bottom: 3px solid #fb8b24;
                    padding: 15px;
                    
                }
                
                .card-body {
                    text-align: left;
                    padding: 15px;
                    span{
                        display: block;
                        margin: 10px 0;
                        font-size: 18px;
                        letter-spacing: 1px;
                        font-family: sans-serif;
                    }
                }
            }
        }
    }

    // service style strt
    .service{
        .col-12{
            margin-top: 4vh;
            p{
                text-align: center;
                font-weight: bold;
                font-size: 40px;
            }
        }
        .col-lg-4{
            img{
                width: 100%;
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .hajj-section {
        .hero-section {
            .navbar {
                .menu {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hajj-section {
        .hero-section {
            overflow: hidden;

            .navbar {
                position: relative;

                .menu {
                    transform: translateX(500%);
                    transition: 0.3s ease-in-out;
                    position: absolute;
                    top: 12vh;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.9);
                    width: 50%;
                    border-top: 1.5px solid white;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 90vh;
                    padding: 3vh 0;

                }

                .menu-bars {
                    display: block;
                }

                .menu-active {
                    transform: translateX(0);
                }
            }
        }
    }
}