@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.hajj-section {
    display: none;

    .hero-section {
        width: 100%;
        min-height: 100vh;
        background-image: url('../assets/images/bg-fon.jpeg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            width: 100%;
            min-height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 8%;
            color: white;
            background-color: rgba(0, 0, 0, 0.9);
            height: 12vh;

            .brand {
                img {
                    width: 70px;
                    height: 70px;
                }
            }

            .menu {

                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 60%;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 16px;
                    }
                }
            }

            .aloqa {
                font-size: 18px;
                border: none;
                color: black;
                padding: 6px 15px;
                border-radius: 18px;
                border: 1px solid white;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                list-style: none;
                background: rgb(249, 183, 139);

                &:hover {
                    background-color: transparent;
                    color: white;
                    border: 1px solid rgb(249, 183, 139);

                }
            }

            .menu-bars {

                i {
                    display: none;
                    cursor: pointer;
                }
            }
        }

        .content-hero-center {
            min-height: 50vh;
            display: flex;
            justify-content: center;
            width: 75%;
            margin: auto;
            align-items: center;
            flex-direction: column;
            text-align: center;
            color: white;

            // background: red;
            h1 {

                font-size: 60px;

                span {
                    font-size: 65px;
                    color: rgb(50, 30, 177);
                    font-weight: 900;
                }
            }

            p {
                font-size: 20px;
                margin: 4vh 0;
            }

            button {
                border: 1.5px solid white;
                background-color: rgb(249, 183, 139);
                padding: 10px 25px;
                border-radius: 25px;
                font-size: 25px;
                color: BLACK;
                transition: 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: transparent;
                    color: white;
                    border: 1.5px solid hsl(24, 90%, 76%);

                }
            }
        }
    }

    //    Makka style start
    .makka {
        .container {
            .col-12 {
                text-align: center;
                margin: 4vh 0;

                .makka-name {
                    font-size: 40px;
                    font-weight: bold;
                }
            }

            .col-lg-4 {
                text-align: center;
                margin-top: 5vh;

                img {
                    width: 100%;
                    height: 300px;
                }

                h3 {
                    margin-top: 2vh;
                }
            }
        }
    }

    //  Madina style
    .madina {
        .container {
            .col-12 {
                text-align: center;
                margin: 4vh 0;

                .makka-name {
                    font-size: 40px;
                    font-weight: bold;
                }
            }

            .col-lg-4 {
                text-align: center;
                margin-top: 5vh;

                img {
                    width: 100%;
                    height: 300px;
                }

                h3 {
                    margin-top: 2vh;
                }
            }
        }
    }

    // Paketlar style
    .paketlar {
        margin: 4vh 0;

        .paket-name {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
        }

        strong {
            font-size: 20px;
        }

        .col-lg-4 {
            margin-top: 2vh;
            margin-bottom: 2vh;

            .card {
                text-align: center;
                border: 2.5px solid #c9c0b9;
                min-height: 20vh;
                width: 100%;
                background-color: #F9B78B;
                color: black;
                border-radius: 10px;

                .card-header {
                    border-bottom: 3px solid #c9c0b9;
                    padding: 15px;

                }

                .card-body {
                    text-align: left;
                    padding: 15px;

                    span {
                        display: block;
                        margin: 10px 0;
                        font-size: 18px;
                        letter-spacing: 1px;
                        font-family: sans-serif;
                    }
                }
            }
        }
    }

    // service style strt
    .service {
        .col-12 {
            margin-top: 4vh;

            p {
                text-align: center;
                font-weight: bold;
                font-size: 40px;
            }
        }

        .col-lg-4 {
            img {
                width: 100%;
                height: 300px;
            }
        }
    }

    // Footer style start
    .footer {
        padding-top: 3vh;
        width: 100%;
        min-height: 40vh;
        //    margin-top: 10vh;
        background-color: rgb(8, 8, 8);
        color: white;

        .footer-logo {
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
        }

        .icons {
            margin-top: 20px;

            a {
                color: white;
                &:nth-child(1){
                    i{
                      &:hover{
                        color: #229ED9;
                      }
                    }
                }
                &:nth-child(2){
                    i{
                      &:hover{
                        color: #C13584;
                      }
                    }
                }
                &:nth-child(3){
                    i{
                      &:hover{
                        color: #4267B2 ;
                      }
                    }
                }
                &:nth-child(4){
                    i{
                      &:hover{
                        color: #FF0000;
                      }
                    }
                }
            }
        }
        .col-12{
            .title-column{
                margin-bottom: 10px;
                text-align: center;
            }
            li{
                list-style: none;
                text-align: center;
                a{
                    color: white;
                    line-height: 40px;
                    text-decoration: none;
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .hajj-section {
        .hero-section {
            .navbar {
                .menu {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hajj-section {
        .hero-section {
            overflow: hidden;
             .content-hero-center{
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 13px;
                }
                button{
                    padding: 10px 20px;
                    font-size: 16px;
                }
             }
            .navbar {
                position: relative;

                .menu {
                    transform: translateX(500%);
                    transition: 0.3s ease-in-out;
                    position: absolute;
                    top: 12vh;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.9);
                    width: 50%;
                    border-top: 1.5px solid white;
                    flex-direction: column;
                    justify-content: space-evenly;
                    min-height: 90vh;
                    padding: 3vh 0;

                }

                .menu-bars {
                    display: flex;
                    align-items: center;

                    i {
                        display: block;
                        margin-left: 20px;
                    }
                }

                .menu-active {
                    transform: translateX(0);
                }
            }
        }
    }
}


.price {
    font-size: 22px;
    font-weight: 550;
    color: #fb8b24;
}

.fa-solid {
    font-size: 30px;
    color: rgb(24, 49, 24);

}

.tickett {
    width: 50px !important;
    height: 50px !important;
    color: red !important;
    object-fit: contain;
}

.imgFon {
    border-radius: 15px;

    transition: 1s;

}

.imgFon:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);
}

.NurTogi {
    border-radius: 10px;
    transition: 1s;

}

.NurTogi:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);

}

.Madinadigi-ziyoratlar {
    border-radius: 10px;
    transition: 1s;
}

.Madinadigi-ziyoratlar {
    border-radius: 10px;
    transition: 1s;
}

.Madinadigi-ziyoratlar:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgb(85, 51, 51);

}

.DivFoter {
    height: 70px;
}